# data
*.csv
*.xlsx
*.info

# but vc zip code database so it's on github
!data/NY-zip-code-latitude-and-longitude.csv

# dashboard folder (until more mature)
dashboard


# figures
*.png

# but keep these figures for the report
!figs/Outcome_map.png
!figs/time_series.png
!figs/hourly_breakdown.png

# OS X
.DS_Store

# emacs
*~
*.bak

# python stuff
*ipynb
__pycache__
*pkl

# but vc the following:
!model_exploration.ipynb
!model_performance_comparison.ipynb
!NYC_bike_crash_summary_stats.ipynb
!best_model_assessment.ipynb

!multiclass_attempt_notebooks/multiclass_model_exploration.ipynb
!multiclass_attempt_notebooks/multiclass_model_performance_comparison.ipynb

# Tableau
*twb
*twbr

# latex
*.log
*.pdf
*.out
*.aux
